@model GlobalGames.Dados.Entidades.JogoInscricao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="container">
    <h2>Detalhes da Inscrição</h2>
    <h4>Inscrição</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
</div>
<div>
    <a class="button_1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="button_1" asp-action="Index">Back to List</a>
</div>
